# Optional API endpoint overrides
PARLIAMENT_BILLS_API_BASE_URL=https://bills-api.parliament.uk
PARLIAMENT_MEMBERS_API_BASE_URL=https://members-api.parliament.uk
PARLIAMENT_QUESTIONS_API_BASE_URL=https://questions-statements-api.parliament.uk
PARLIAMENT_COMMONS_VOTES_API_BASE_URL=https://commonsvotes-api.parliament.uk
